<div class="main-content">

    <div class="row" >
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel">        
                <div class="panel-heading"><h3 class="panel-title">{{device.streamName0}}</h3></div>
                <div class="panel-body">
                    <div high-charts="configGauge0" high-charts-bind-controller="gauge0" style="width: 100% ; height: 200px; "></div>
                </div>
            </div>           
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel">        
                <div class="panel-heading"><h3 class="panel-title">{{device.streamName1}}</h3></div>
                <div class="panel-body">
                    <div high-charts="configGauge1" high-charts-bind-controller="gauge1" style="width: 100% ; height: 200px; "></div>
                </div>
            </div>             
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel">        
                <div class="panel-heading"><h3 class="panel-title">{{device.streamName2}}</h3></div>
                <div class="panel-body">
                    <div high-charts="configGauge2" high-charts-bind-controller="gauge2" style="width: 100% ; height: 200px; "></div>
                </div>
            </div>             
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel">        
                <div class="panel-heading"><h3 class="panel-title">{{device.streamName3}}</h3></div>
                <div class="panel-body">
                    <div high-charts="configGauge3" high-charts-bind-controller="gauge3" style="width: 100% ; height: 200px; "></div>
                </div>
            </div>             
        </div>
    </div>




    <div class="panel">        
        <div class="panel-heading"><h3 class="panel-title">Consumo instantaneo</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div high-charts="configMainChart" high-charts-bind-controller="mainChart" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">        
        <div class="panel-heading"><h3 class="panel-title">Consumo instantaneo <strong>Total</strong></h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div high-charts="configSumChart" high-charts-bind-controller="sumChart" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>

</div>