<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.datasource">java:/comp/env/jdbc/iothome</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.show_sql">false</property>
    <mapping resource="es/logongas/iothome/dao/impl/Device.hbm.xml"/>
    <mapping resource="es/logongas/iothome/dao/impl/Measure.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
