    <div class="sidebar-nav">
        <ul>
            <li><a href="#/" class="nav-header" ><i class="fa fa-fw fa-dashboard"></i> Tiempo real</a></li>
            
            <li><div  class="nav-header" ><i class="fa fa-fw fa-bar-chart"></i> Historico</div></li>
            <li><ul class="dashboard-menu nav nav-list collapse in">
                    <li ><a href="#/historico/getGroupByMinute"><span class="fa fa-caret-right"></span> Minutos</a></li>
                    <li ><a href="#/historico/getGroupByHour"><span class="fa fa-caret-right"></span> Horas</a></li>
                    <li ><a href="#/historico/getGroupByDay"><span class="fa fa-caret-right"></span> Dias</a></li>
                    <li ><a href="#/historico/getGroupByWeek"><span class="fa fa-caret-right"></span> Semanas</a></li>
                </ul></li>
            <li><a href="#" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Ayuda</a></li>
            <li><a href="#" class="nav-header"><i class="fa fa-fw fa-comment"></i> Faq</a></li>

        </ul>
    </div>